<%= render "shared/header" %>

<%# 投稿一覧 %>

<div class='post-contents'>
  <h2 class='title'><%= @nickname %></h2>
  <h2 class='sub-title'><%= @num %>件の投稿</h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>

      <%# 投稿のインスタンス変数になにか入っている場合、中身を展開 %>
        <li class='list'>
          <div class='post-info'>
            <div class='user-page'>
              <a href="/users/<%= post.user.id %>"><%= post.user.nickname %></a>
            </div>
            <div class='parents-title-spoiler'>
              <h3 class='post-title'>
                <%= post.title.title_name %>
              </h3>
              <% if post.spoiler == true %>
                <h2 class='btn btn-danger'>ネタバレあり</h2>
              <% end %>
            </div>
            <% if post.rate != nil %>
              <div class='parents-rate'>
                <div class='head-rate'>
                  <div id="star-rate-<%= post.id %>"></div>
                  <script>
                  $('#star-rate-<%= post.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= post.rate %>,
                  });
                  </script>
                </div>
                <div class='foot-rate'>
                  <%= post.rate %>
                </div>
              </div>
            <% else %>
              <div class='rate-none'>
                <%= image_tag 'star-off.png' %>
                <%= image_tag 'star-off.png' %>
                <%= image_tag 'star-off.png' %>
                <%= image_tag 'star-off.png' %>
                <%= image_tag 'star-off.png' %>
              </div>
            <% end %>            
            <h2 class='post-genre'>
              ジャンル : <%= post.genre.name %>
            </h2>
            <% if post.spoiler == true %><details><% end %>
              <% if post.spoiler == true %>
                <summary role="button" aria-expanded="false">レビューを見る</summary>
              <% end %>
              <h3 class='post-content'>
                <%= post.content %>
              </h3>
            <% if post.spoiler == true %></details><% end %>
            <% if user_signed_in? && current_user.email == post.user.email %>
              <%= link_to '編集', edit_post_path(post.id), method: :get, class: "btn btn-warning" %>
              <%= link_to '削除', post_path(post.id), method: :delete, class: "btn btn-danger" %>
            <% end %>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </li>
       <% end %>
      <%# //投稿のインスタンス変数になにか入っている場合、中身を展開 %>

      <%# 投稿がない場合のダミー %>
      <% if @posts.length == 0 %>
        <div class='post-dummy'>
          <h3 class='dummy-title'>
            まだ投稿はありません
          </h3>
          <%= link_to '新規投稿ページへ', new_post_path, class: "dummy-link"%>
        </div>
      <% end %>
      <%# //投稿がない場合のダミー %>
    </ul>
</div>

<div class='pagination'>
  <%= paginate @posts %>
</div>

<%# 投稿一覧 %>

<%= render "shared/footer" %>
