<%# 広告部分 %>
<div class='add-footer-contents'>
  <div class='footer-title-contents'>
    <h2 class='footer-service-title'>
      いい映画との出会いを、あなたに。
    </h2>
    <p class='footer-contents-explain'>
     Filmsでは、みんなのリアルな映画レビューをチェックできます。
    </p>
    <p class='footer-contents-explain'>
      気になる作品、話題の作品のレビューを今すぐチェック！
    </p>
    <p class='footer-contents-explain'>
     あなたにとって最高の映画がきっと見つかる。
    </p>
    <p class='footer-contents-explain'>
      さあ、はじめよう。
    </p>
  </div>
  <ul class='user-management'>
    <%# <% if user_signed_in? %> 
    <%# liタグ抜けてる %>
      <%# <%= link_to current_user.nickname, "#", class: "" %> 
      <%# <%= link_to 'ログアウト', "#", class: "" %> 
    <%# <% else %> 
      <li><%= link_to 'ログイン', "#", class: "login btn btn-primary" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up btn btn-success" %></li>
    <%# <% end %> 
  </ul>
</div>
<%# 広告部分 %>

<div class='footer'>
  <ul class='footer-link-parents'>
    <li><%= link_to '会社概要(運営会社)', "#", class: "footer-link" %></li>
    <li><%= link_to 'Films利用規約', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
  </ul>
  <p>© Films</p>
</div>