<%= render "shared/header" %>

<div class="posts-sell-contents">
  <div class="posts-sell-main">
    <h2 class="posts-sell-title">投稿の編集</h2>
    <%= form_with model: @post, url: post_path, class:"new_posts", method: :patch, local: true do |f| %>

    <%# エラー文 %>
    <%= render 'shared/error_messages', model: f.object %>

    <%# タイトル名 %>
    <div class="weight-bold-text">
      タイトル名
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :title_name, class:"title-text", id:"item-name", placeholder:"タイトル名", maxlength:"40" %>
    <%# タイトル名 %>

    <%# ジャンル %>
    <div class="posts-genre">
      <div class="form">
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box"}) %>
      </div>
    </div>
    <%# /ジャンル %>
      
    <%# /レビュー %>
    <div class="posts-review">
      <div class="weight-bold-text">
        鑑賞記録
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :content, class:"posts-text", id:"item-info", placeholder:"レビューを記入してください" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <%# /レビュー %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"btn btn-primary" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>

<%= render "shared/footer" %>